body {
    min-width: 70px;
}

#add_title_link {
    font-size: 40px;
}


img {
    width: 30px;
}


#picker_btn {
    background-image: "images/picker.png";
    background-size: cover;
    border: none;
    cursor: pointer;
    background-color: transparent;
}